<html>
    <head>
        <link rel="stylesheet" href="assets/bootstrap.css">
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
      <div class="cover-container">
           <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">loginapp</h3>
              <nav class="nav nav-masthead">
           
              <a class="nav-link active" href="/users/logout">Dashboard</a>
              
      
                <a class="nav-link" href="/users/register">Register</a>
                <a class="nav-link" href="/users/login">Login</a>
          
              </nav>
            </div>
          </div> 
      </div>
      {{{body}}}
     
    </body>
</html>
