
<link rel="stylesheet" href="assets/bootstrap.css">
<link rel="stylesheet" href="assets/style.css">
<body>
    <div class="container">
               <a class="nav-link" href="/users/logout">Logout</a>
    </div>
</body>